/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* buttons */

button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #9a031e;
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: #9a031f7a;
}

.item-button {
  width: 80px;
}

/* inputs */

input {
  margin: 10px;
}

/* h2 */

h2 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

/* p */

p {
  margin: 10px;
}

/* errors */

.error-message {
  margin: 10;
  color: red;
}

/* headbar */

.headbar {
  text-align: center;
  background-color: #5f0f40;
  color: white;
}

/* vertical container */

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/* horizontal container */

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

/* item container */

.item-container {
  width: 70vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* title bar */

.title-container {
  text-align: center;
  height: 100px;
  line-height: 100px;
  color: #cb793a;
}

